# Data Analytics for Beginners
## Overview
A Data Analytics project based on a [CareerFoundry](https://careerfoundry.com/en/tutorials/data-analytics-for-beginners/introduction-to-data-analytics) tutorial. This project aims to follow the tutorial step-by-step, but using a combination of tech stack such as Python, SQL, and Tableau to practice different key skills at different stages of Data Analysis.

In [141]:
pip install mysql-connector-python pandas numpy openpyxl pymysql sqlalchemy sqlalchemy-utils python-dotenv PyDrive2

Requirement already satisfied: mysql-connector-python in ./.venv/lib/python3.9/site-packages (9.1.0)
Requirement already satisfied: pandas in ./.venv/lib/python3.9/site-packages (2.2.3)
Requirement already satisfied: numpy in ./.venv/lib/python3.9/site-packages (2.0.2)
Requirement already satisfied: openpyxl in ./.venv/lib/python3.9/site-packages (3.1.5)
Requirement already satisfied: pymysql in ./.venv/lib/python3.9/site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.9/site-packages (2.0.36)
Requirement already satisfied: sqlalchemy-utils in ./.venv/lib/python3.9/site-packages (0.41.2)
Requirement already satisfied: python-dotenv in ./.venv/lib/python3.9/site-packages (1.0.1)
Requirement already satisfied: PyDrive2 in ./.venv/lib/python3.9/site-packages (1.21.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in ./.venv/lib/python3.9/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.9/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in ./.venv/lib/python3.9/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: google-api-python-client>=1.12.5 in ./.venv/lib/python3.9/site-packages (from PyDrive2) (2.154.0)
Requirement already satisfied: oauth2client>=4.0.0 in ./.venv/lib/python3.9/site-packages (from PyDrive2) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in ./.venv/lib/python3.9/site-packages (from PyDrive2) (6.0.2)
Requirement already satisfied: cryptography<44 in ./.venv/lib/python3.9/site-packages (from PyDrive2) (43.0.3)
Requirement already satisfied: pyOpenSSL<=24.2.1,>=19.1.0 in ./.venv/lib/python3.9/site-packages (from PyDrive2) (24.2.1)
Requirement already satisfied: cffi>=1.12 in ./.venv/lib/python3.9/site-packages (from cryptography<44->PyDrive2) (1.17.1)
Requirement already satisfied: httplib2<1.dev0,>=0.19.0 in ./.venv/lib/python3.9/site-packages (from google-api-python-client>=1.12.5->PyDrive2) (0.22.0)
Requirement already satisfied: google-auth!=2.24.0,!=2.25.0,<3.0.0.dev0,>=1.32.0 in ./.venv/lib/python3.9/site-packages (from google-api-python-client>=1.12.5->PyDrive2) (2.36.0)
Requirement already satisfied: google-auth-httplib2<1.0.0,>=0.2.0 in ./.venv/lib/python3.9/site-packages (from google-api-python-client>=1.12.5->PyDrive2) (0.2.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5 in ./.venv/lib/python3.9/site-packages (from google-api-python-client>=1.12.5->PyDrive2) (2.23.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in ./.venv/lib/python3.9/site-packages (from google-api-python-client>=1.12.5->PyDrive2) (4.1.1)
Requirement already satisfied: pyasn1>=0.1.7 in ./.venv/lib/python3.9/site-packages (from oauth2client>=4.0.0->PyDrive2) (0.6.1)
Requirement already satisfied: pyasn1-modules>=0.0.5 in ./.venv/lib/python3.9/site-packages (from oauth2client>=4.0.0->PyDrive2) (0.4.1)
Requirement already satisfied: rsa>=3.1.4 in ./.venv/lib/python3.9/site-packages (from oauth2client>=4.0.0->PyDrive2) (4.9)
Requirement already satisfied: six>=1.6.1 in ./.venv/lib/python3.9/site-packages (from oauth2client>=4.0.0->PyDrive2) (1.17.0)
Requirement already satisfied: pycparser in ./.venv/lib/python3.9/site-packages (from cffi>=1.12->cryptography<44->PyDrive2) (2.22)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in ./.venv/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.12.5->PyDrive2) (1.66.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in ./.venv/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.12.5->PyDrive2) (5.29.1)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in ./.venv/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.12.5->PyDrive2) (1.25.0)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in ./.venv/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.12.5->PyDrive2) (2.32.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in ./.venv/lib/python3.9/site-packages (from google-auth!=2.24.0,!=2.25.0,<3.0.0.dev0,>=1.32.0->google-api-python-client>=1.12.5->PyDrive2) (5.5.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in ./.venv/lib/python3.9/site-packages (from httplib2<1.dev0,>=0.19.0->google-api-python-client>=1.12.5->PyDrive2) (3.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.12.5->PyDrive2) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.12.5->PyDrive2) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.12.5->PyDrive2) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.12.5->PyDrive2) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [142]:
from pydrive2.auth import GoogleAuth
from pydrive2.drive import GoogleDrive


def connect_to_drive():
  """
  Initialises connection to Google Drive using PyDrive2. Requires `client_secrets.json`
  from your OAuth 2.0 application downloaded and available in the same directory.
  
  See https://developers.google.com/drive/api/quickstart/python for more information.
  """
  gauth = GoogleAuth()
  gauth.LocalWebserverAuth()

  return GoogleDrive(gauth)

In [143]:
import pandas as pd
import numpy as np


# Read .xlsx file locally
df = pd.read_excel("nyc_bikes.xlsx")

df.head()

,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration,Trip_Duration_in_min,Month,Season,Temperature,Weekday
0,2017-01-01 00:38:00,2017-01-01 01:03:00,3194,McGinley Square,3271,Danforth Light Rail,24668,Subscriber,1961,60,55-64,1513,25,1,Winter,10,Sunday
1,2017-01-01 01:47:00,2017-01-01 01:58:00,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,1,Winter,10,Sunday
2,2017-01-01 01:47:00,2017-01-01 01:58:00,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,1,Winter,10,Sunday
3,2017-01-01 01:56:00,2017-01-01 02:00:00,3186,Grove St PATH,3270,Jersey & 6th St,24604,Subscriber,1970,51,45-54,258,4,1,Winter,10,Sunday
4,2017-01-01 02:12:00,2017-01-01 02:23:00,3270,Jersey & 6th St,3206,Hilltop,24641,Subscriber,1978,43,35-44,663,11,1,Winter,10,Sunday

In [144]:
# Display column information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20400 entries, 0 to 20399
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Start Time            20400 non-null  datetime64[ns]
 1   Stop Time             20400 non-null  datetime64[ns]
 2   Start Station ID      20400 non-null  int64
 3   Start Station Name    20400 non-null  object
 4   End Station ID        20400 non-null  int64
 5   End Station Name      20399 non-null  object
 6   Bike ID               20400 non-null  int64
 7   User Type             20400 non-null  object
 8   Birth Year            20400 non-null  int64
 9   Age                   20400 non-null  int64
 10  Age Groups            20400 non-null  object
 11  Trip Duration         20400 non-null  int64
 12  Trip_Duration_in_min  20400 non-null  int64
 13  Month                 20400 non-null  int64
 14  Season                20400 non-null  object
 15  Temperature           20400 non-null  int64
 16  Weekday               20400 non-null  object
dtypes: datetime64[ns](2), int64(9), object(6)
memory usage: 2.6+ MB

In [145]:
# Display basic statistical information
df.describe()

,Start Time,Stop Time,Start Station ID,End Station ID,Bike ID,Birth Year,Age,Trip Duration,Trip_Duration_in_min,Month,Temperature
count,20400,20400,20400.000000,20400.000000,20400.000000,20400.000000,20400.000000,20400.000000,20400.000000,20400.000000,20400.000000
mean,2017-02-21 20:03:51.773529344,2017-02-21 20:13:16.335293952,3215.863627,3211.439510,25301.732647,1979.319706,41.680294,563.842745,9.398775,2.221569,14.897647
min,2017-01-01 00:38:00,2017-01-01 01:03:00,3183.000000,152.000000,15084.000000,1931.000000,22.000000,61.000000,1.000000,1.000000,9.000000
25%,2017-01-31 19:00:15,2017-01-31 19:04:45,3186.000000,3186.000000,24523.000000,1974.000000,35.000000,221.000000,4.000000,1.000000,13.000000
50%,2017-02-27 07:20:00,2017-02-27 07:29:30,3203.000000,3202.000000,24679.000000,1982.000000,39.000000,311.000000,5.000000,2.000000,15.000000
75%,2017-03-11 20:38:00,2017-03-11 20:49:00,3267.000000,3220.000000,26220.000000,1986.000000,47.000000,514.000000,9.000000,3.000000,17.000000
max,2017-03-31 23:20:00,2017-03-31 23:30:00,3281.000000,3442.000000,29296.000000,1999.000000,90.000000,390893.000000,6515.000000,3.000000,19.000000
std,NaN,NaN,34.563120,82.707121,989.974295,10.091335,10.091335,4011.550663,66.858684,0.822335,2.398100

## Data Pre-processing

First, the dataset will be evaluated for inconsistencies or errors. This section will check for any missing values for each column. Then, an appropriate method of filling these values will be determined.

In [146]:
# Helper functions to check DataFrame
def count_missing(df):
    """
    Count number of missing values for each column in DataFrame `df`.
    """
    return df.isnull().sum()

def total_missing_pct(df):
    """
    Calculate the percentage of all missing cells.
    """
    total_cells = np.prod(df.shape)
    total_missing = count_missing(df).sum()

    return (total_missing / total_cells) * 100

def check_missing(df):
    """
    Prints out description of missing values per column in a dataframe `df`.
    """
    missing_count = count_missing(df)

    print(missing_count)
    print(f"Total missing cells percentage: {total_missing_pct(df):.2f}%")

For this instance, we will just remove rows with duplicate values.

In [147]:
# Remove duplicates
cleaned_df = df.copy()

cleaned_df.drop_duplicates(inplace=True)

It is important to inspect each column for missing values. As such, the helper method `check_missing` will be used.

In [148]:
# Check number of null values per column
check_missing(cleaned_df)

Start Time              0
Stop Time               0
Start Station ID        0
Start Station Name      0
End Station ID          0
End Station Name        1
Bike ID                 0
User Type               0
Birth Year              0
Age                     0
Age Groups              0
Trip Duration           0
Trip_Duration_in_min    0
Month                   0
Season                  0
Temperature             0
Weekday                 0
dtype: int64
Total missing cells percentage: 0.00%

In [149]:
def get_missing_cols(df):
  """
  Retrieve columns from Dataframe `df` with missing values.
  """
  COUNT_COL = "Count"
  
  missing_cols_df = count_missing(df).to_frame(name=COUNT_COL)
  missing_cols = missing_cols_df[missing_cols_df[COUNT_COL] > 0] \
    .index \
    .tolist()
    
  return missing_cols

In [150]:
# Retrieve columns with missing values
missing_cols = get_missing_cols(cleaned_df)

missing_cols

['End Station Name']

Given than only the `End Station Name` columns has missing values, corresponding rows will be dropped, with a focus on the aforementioned column. Re-checking the missing values for columns should now be zero for all.

In [151]:
# Remove rows with blank columns
cleaned_df.dropna(subset=missing_cols, inplace=True)

# Double-check missing values
check_missing(cleaned_df)

Start Time              0
Stop Time               0
Start Station ID        0
Start Station Name      0
End Station ID          0
End Station Name        0
Bike ID                 0
User Type               0
Birth Year              0
Age                     0
Age Groups              0
Trip Duration           0
Trip_Duration_in_min    0
Month                   0
Season                  0
Temperature             0
Weekday                 0
dtype: int64
Total missing cells percentage: 0.00%

### Outliers
As mentioned in [Tutorial 3](https://careerfoundry.com/en/tutorials/data-analytics-for-beginners/descriptive-statistics-and-exploratory-data-analysis), descriptive statistics can be utilised to notice any outliers in our data. As such, we will calculate statistics such as `median`, `mean`, `min`, and `max` to our variables `Trip Duration` and `Age`.

In [152]:
def get_desc_stats(df, cols, aggregates=["mean", "median", "min", "max"]):
  """
  Creates a dataframe containing aggregated methods in `aggregates` for columns `cols`.

  Aggregate methods default to `mean`, `median`, `min`, and `max`.
  """
  return df[cols].agg(aggregates)

In [153]:
# Calculate statistics for columns
desc_stats = get_desc_stats(df, ["Trip_Duration_in_min", "Age"])

desc_stats

        Trip_Duration_in_min        Age
mean                9.398775  41.680294
median              5.000000  39.000000
min                 1.000000  22.000000
max              6515.000000  90.000000

From the statistics above, we can see that the maximum value for the trip duration in minutes is abnormally high and quite unrealistic. As such we can safely remove records containing this value, and see if there are any more outliers.

In [154]:
# Retrieve max value from dataframe
max_trip_duration_min = desc_stats.loc["max"]["Trip_Duration_in_min"]
# Indices of records with trip duration matching max value
drop_indices = cleaned_df[cleaned_df["Trip_Duration_in_min"] == max_trip_duration_min].index

# Drop rows by indices
cleaned_df.drop(drop_indices, inplace=True)

In [155]:
# Re-check descriptive statistics after dropping outliers
get_desc_stats(cleaned_df, ["Trip_Duration_in_min", "Age"])

        Trip_Duration_in_min        Age
mean                9.192068  41.696016
median              5.000000  39.000000
min                 1.000000  22.000000
max              3693.000000  90.000000

## Migration to SQL

The dataset is now prepared to be formatted into their corresponding normalised tables to be imported to SQL.

In [156]:
# Columns for corresponding tables are extracted
cols = cleaned_df.columns.tolist()

# Remove columns that can be calculated in demand (e.g. Month, Duration in Minutes)
cleaned_df.drop(columns=["Month", "Weekday"], inplace=True)

# Rename columns
cleaned_df.rename(columns={"Trip Duration": "Trip Duration (Seconds)"}, inplace=True)

station_start_columns = [col for col in cols if "Start Station" in col]
station_end_columns = [col for col in cols if "End Station" in col]
user_columns = cols[6:11]

cleaned_df.head()

,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration (Seconds),Trip_Duration_in_min,Season,Temperature
0,2017-01-01 00:38:00,2017-01-01 01:03:00,3194,McGinley Square,3271,Danforth Light Rail,24668,Subscriber,1961,60,55-64,1513,25,Winter,10
1,2017-01-01 01:47:00,2017-01-01 01:58:00,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,Winter,10
3,2017-01-01 01:56:00,2017-01-01 02:00:00,3186,Grove St PATH,3270,Jersey & 6th St,24604,Subscriber,1970,51,45-54,258,4,Winter,10
4,2017-01-01 02:12:00,2017-01-01 02:23:00,3270,Jersey & 6th St,3206,Hilltop,24641,Subscriber,1978,43,35-44,663,11,Winter,10
5,2017-01-01 02:22:00,2017-01-01 02:31:00,3212,Christ Hospital,3225,Baldwin at Montgomery,24520,Subscriber,1987,34,25-34,535,9,Winter,10

In this section, dataframes will be created separately for start and end stations. This is essential for easier extraction, as well as for removal of its duplicates at a later stage when merged.

In [157]:
# Dataframes for start and end locations
# Duplicates are then removed based on their station IDs
station_start_df = cleaned_df[station_start_columns].drop_duplicates(subset=[station_start_columns[0]])
station_end_df = cleaned_df[station_end_columns].drop_duplicates(subset=[station_end_columns[0]])

In [158]:
# Rename columns for both dataframes to allow concatenation
station_start_df.rename(columns=lambda c: c.replace("Start Station ", ""),
                        inplace=True)
station_end_df.rename(columns=lambda c: c.replace("End Station ", ""),
                      inplace=True)

# Merge the start and end dataframes
station_df = pd \
  .concat([station_start_df, station_end_df], ignore_index=True) \
  .drop_duplicates()

# List all stations
station_df.head()

     ID             Name
0  3194  McGinley Square
1  3183   Exchange Place
2  3186    Grove St PATH
3  3270  Jersey & 6th St
4  3212  Christ Hospital

You may notice that there are some inconsistencies with regards to the station name. For example, `Grove St PATH` has the word `path` in uppercase. We can fix this by doing a simple `map()` operation to our `station_df` dataframe.

In [159]:
import re

# Input text
text = "St John lives on St Patrick street. The statue is near St. Michael's Church."

def clean_station_name(name):
  """
  Perform cleaning of the provided station name for a more consistent naming convention.
  """
  # Regex pattern to match "St" not followed by a dot or within a word
  result = re.sub(r'\bSt\b(?!\.)', 'St.', name)
  
  # Replace "PATH" with "Path"
  result = result.title() if "PATH" in result else result

  return result

In [160]:
station_df["Name"] = station_df["Name"].apply(clean_station_name)

station_df.head()

     ID              Name
0  3194   McGinley Square
1  3183    Exchange Place
2  3186    Grove St. Path
3  3270  Jersey & 6th St.
4  3212   Christ Hospital

Similarly, a dataframe for `User` will be created, checking for duplicates before any actual processing is performed.

In [161]:
def has_duplicates(df, subset):
  """
  Checks dataframe `df` for any duplicates based on provided `subset`, else defaults to all features.
  """
  result = df.duplicated(subset=subset).sum()
  
  return result > 0

In [163]:
DEFAULT_ID = "ID"

# Dataframe for user data
user_df = cleaned_df[user_columns].reset_index(names=DEFAULT_ID)

# Check the dataframe for duplicates; drop if there are any
if has_duplicates(user_df, DEFAULT_ID):
  user_df.drop_duplicates()

user_df.head()

   ID  Bike ID   User Type  Birth Year  Age Age Groups
0   0    24668  Subscriber        1961   60      55-64
1   1    26167  Subscriber        1993   28      25-34
2   3    24604  Subscriber        1970   51      45-54
3   4    24641  Subscriber        1978   43      35-44
4   5    24520  Subscriber        1987   34      25-34

As extra precaution, we need to ensure that a user record corresponds to a single trip, hence a 1:1 match. To do this, the number of rows for each dataframe will be compared. This is to see if a compound unique key needs to be created for the two tables.

In [164]:
if user_df.shape[0] == cleaned_df.shape[0]:
  print("No compound unique keey needed.")
else:
  print("Creating compound unique key...")

No compound unique keey needed.

Now we are certain that each `User` record is unique and has a corresponding `Trip` record, and have the means of defining its relationship by way of `ID` column.

In relation to the steps performed for `user_df`, the same needs to be applied to our base dataframe to ensure that `ID` column for `User` can be properly set as foreign key to our `Trip` table.

In [165]:
# Expose the `index` column
cleaned_df.reset_index(names=DEFAULT_ID, inplace=True)

cleaned_df.head()

,ID,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration (Seconds),Trip_Duration_in_min,Season,Temperature
0,0,2017-01-01 00:38:00,2017-01-01 01:03:00,3194,McGinley Square,3271,Danforth Light Rail,24668,Subscriber,1961,60,55-64,1513,25,Winter,10
1,1,2017-01-01 01:47:00,2017-01-01 01:58:00,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,Winter,10
2,3,2017-01-01 01:56:00,2017-01-01 02:00:00,3186,Grove St PATH,3270,Jersey & 6th St,24604,Subscriber,1970,51,45-54,258,4,Winter,10
3,4,2017-01-01 02:12:00,2017-01-01 02:23:00,3270,Jersey & 6th St,3206,Hilltop,24641,Subscriber,1978,43,35-44,663,11,Winter,10
4,5,2017-01-01 02:22:00,2017-01-01 02:31:00,3212,Christ Hospital,3225,Baldwin at Montgomery,24520,Subscriber,1987,34,25-34,535,9,Winter,10

In [167]:
# Remove unnecessary columns
cleaned_df.drop(columns=["Start Station Name", "End Station Name", "Trip_Duration_in_min"] + user_columns,
                inplace=True)
# Rename station columns for a more general one
cleaned_df.rename(columns={"Start Station ID": "Start Station",
                           "End Station ID": "End Station"},
                  inplace=True)
cleaned_df.head()

KeyError: "['Start Station Name', 'End Station Name', 'Trip_Duration_in_min', 'Bike ID', 'User Type', 'Birth Year', 'Age', 'Age Groups'] not found in axis"

## MySQL

In this stage, the data is now ready to be migrated to our SQL database. The necessary connections need to be established for a successful migration.

In [168]:
from sqlalchemy import create_engine, text
from sqlalchemy_utils import database_exists, create_database


def create_db_engine(user, pw, db=None):
    """
    Create and engine to connect to MySQL databases.
    """
    engine = create_engine(f"mysql+pymysql://{user}:{pw}@localhost/{db}")
    
    if not database_exists(engine.url):
        create_database(engine.url)
    
    return engine

def to_snake_case(s):
    """
    Convert a string `s` to snake case.
    """
    split = s.lower().split(" ")
    joined = "_".join(split)
    cleaned = re.sub(r'\W+', '', joined)
    
    return cleaned

def insert_to_db(df, table_name, engine):
    """
    Insert dataframe to SQL database using provided engine. In turn,
    the primary key will be added, using the first dataframe column by default.
    
    Additionaly, converts column names to snake case for easier usage within SQL.
    """
    # Create new dataframe with columns formatted to snake case
    to_insert_df = df.rename(columns=lambda c: to_snake_case(c))
    # Insert to SQL using engine
    to_insert_df.to_sql(table_name, 
                        engine, 
                        index=False, 
                        index_label=DEFAULT_ID.lower(),
                        if_exists="replace")
    # Add primary key
    pk = to_insert_df.columns.tolist()[0]
    
    alter_db(engine.connect(), f"ALTER TABLE {table_name} ADD PRIMARY KEY (`{pk}`);")
    
def alter_db(connection, statement):
    """
    Perform altering operations to a database in the given connection.
    """
    trans = connection.begin()
    
    try:
        connection.execute(text(statement))
        trans.commit()
    except Exception:
        trans.rollback()
        
        raise

In [169]:
from dotenv import load_dotenv

import os


load_dotenv()

def get_env_db_credentials():
  """
  Read credentials specified in a local .env file to be used for establishing database connection.
  """

  DB_USER = os.getenv("DB_USER")
  DB_PW = os.getenv("DB_PW")
  
  return (DB_USER, DB_PW)

In [170]:
DB_NAME = "nyc"

# Collect user credentials from local .env for a more secure connection
user, password = get_env_db_credentials()
engine = create_db_engine(user, password, DB_NAME)

In [171]:
# Create and insert dataframe to SQL table `Trip`
insert_to_db(cleaned_df, "Trip", engine)

In [172]:
# Create and insert Station dataframe to SQL table
insert_to_db(station_df, "Station", engine)

In [173]:
# Create and insert User dataframe to SQL table
insert_to_db(user_df, "User", engine)

In [174]:
connection = engine.connect()

# Add necessary foreign keys
alter_db(connection,
  f"""
  ALTER TABLE Trip 
  ADD CONSTRAINT FK_StartTrip FOREIGN KEY (start_station) REFERENCES Station({DEFAULT_ID.lower()}),
  ADD CONSTRAINT FK_EndTrip FOREIGN KEY (end_station) REFERENCES Station({DEFAULT_ID.lower()}),
  ADD CONSTRAINT FK_UserTrip FOREIGN KEY ({DEFAULT_ID.lower()}) REFERENCES User({DEFAULT_ID.lower()});
  """
)